*{
    margin: 0;
   padding: 0;
   outline: 0;
   font-family: 'Reem Kufi', sans-serif;
}
body{
    height: 100vh;
background: red!important;
background-attachment: fixed !important;
}
.carousel-item img{
    max-height:550px!important;
}

.btun{
    color: #fff;
    width: 30%;
    background: black;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}
.input{
    width: 90%;
   outline: none;
   border: none;
   padding: 5px;
   border-radius:5px;
}

a,h3,p{
   color: #fff!important;
    text-decoration: none;
    font-weight: bold!important;
}
a:hover{
    color: black!important;
}

.text-white span{
    color: red;
    font-weight: bold;
    font-family:  cursive,'Reem Kufi', sans-serif, 'Roboto Slab', serif,'Zeyada', cursive;
}
.text-white a{
    font-weight: bold;
    background: red;
    border-color:red;
    font-family:  cursive,'Reem Kufi', sans-serif, 'Roboto Slab', serif,'Zeyada', cursive;
    
}
  
    .heading{
        color: #fff;
       text-align: center;
       margin-bottom: 50px;
       font-size: 30px;
       font-weight: bold;
    }
    .heading span{
        color: black;
        font-family:  cursive,'Reem Kufi', sans-serif, 'Roboto Slab', serif,'Zeyada', cursive;
    
    }
   
    .container{
        padding-top: 70px;
    }
   .grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
   }
   .grid-box{
    position: relative;
    overflow: hidden;
    border-radius: 1.3rem;
   }
   .grid-box img{
    width: 100%;
    transition: .5s ease;
   }
   .grid-box:hover img{
    transform: scale(1.1);
   }
   @media (max-width:991px){
    .container{
        padding-bottom: 7rem;
    }
   }
   @media (max-width:768px){
   .grid{
    grid-template-columns: repeat(2,1fr);
 }
}
@media (max-width:617px){
    .grid{
        grid-template-columns: 1fr
     }
     
}